// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// Variáveis do scss do vuetify

$font-size-root: 14px;
$border-radius-root: 9px;

$stepper-border-radius: 7px;
$stepper-label-small-font-size: 12px;
$stepper-step-step-font-size: 28px;
$stepper-step-step-height: 40px;
$stepper-step-step-min-width: 40px;
$stepper-vertical-step-step-margin: 20px;
$stepper-step-step-width: 40px;
$stepper-vertical-content-ltr-margin: -8px -44px -16px 44px;

$date-picker-title-date-font-size: 23px;

$text-field-outlined-fieldset-border: 2px solid currentColor !default;

$card-title-font-size: 1.5rem;
$card-title-font-weight: 400;
$card-text-font-size: 14px;
$card-actions-padding: 20px !important;
